<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vega Wine</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/style")
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Libre+Baskerville" rel="stylesheet">
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="container">
            <a class="navbar-brand pl-5 font-weight-bold" href="@Url.Action("Index","Home")">VEGA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item dropdown">
                        <a class="menu nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-glass" aria-hidden="true"></i>
                            Wine
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("GetByType", "Wine")?type=red">Red</a>
                            <a class="dropdown-item" href="@Url.Action("GetByType", "Wine")?type=white">White</a>
                            <a class="dropdown-item" href="@Url.Action("GetByType", "Wine")?type=rose">Rose</a>
                            <a class="dropdown-item" href="@Url.Action("GetByType", "Wine")?type=sparkling">Sparkling</a>
                            <a class="dropdown-item" href="@Url.Action("GetByType", "Wine")?type=dessert">Dessert</a>
                        </div>
                    </li>
                    @*<li class="nav-item ">
                        <a class="nav-link menu" href="#">Food</a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link menu" href="@Url.Action("all-wines","Wine")">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Store</a>
                        </li>
                </ul>
              
                    <input class="form-control-md mr-sm-2 pl-1" id="searchName" type="search" placeholder="Wine name" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit" onclick="getByName()">Search</button>
              
            </div>
            @Html.Partial("_LoginPartial")         
          
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


<script>


 function getByName() {
     var wineInput = $("#searchName").val();
     console.log(wineInput);

            $.ajax({
            url: '@Url.Action("GetByName", "Wine")'+'?name=' + wineInput,
            type: "GET",
            success: function (response) {

                console.log(response);
                window.location.href ='@Url.Action("GetByName", "Wine")'+'?name=' + wineInput;
                    }
            });
   }

</script>
