@model Winery.Models.WineViewModel
@{
    /**/

    ViewBag.Title = "EditWine";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<h2>EditWine</h2>
<hr />
<form action="UpdateWine" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="row">
        @Html.EditorFor(model => model.WineID, new { htmlAttributes =
            new { @class = "form-control", id = "idhidden" , style = "display:none" } })
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "h5 text-info" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name,
                   new { htmlAttributes = new { @class = "form-control", id = "txtName" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Vintage, htmlAttributes: new { @class = "h5 text-info " })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Vintage,
                   new { htmlAttributes = new { @class = "form-control", id = "txtVintage" } })
                    @Html.ValidationMessageFor(model => model.Vintage, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "h5 text-info" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description,
                   new { htmlAttributes = new { @class = "form-control", id = "txtDescription" } } )
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "h5 text-info" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price,
                   new { htmlAttributes = new { @class = "form-control", id = "txtPrice" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-6 pt-5">
            <div class="form-group">
                @Html.DropDownListFor(t=>t.TypeID,
                     new SelectList(Model.TypesList,"TypeID","TypeName"),"Select type",
                     new { @class ="from-control col-md-6 h5 text-info" , id = "txtType" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(t => t.RegionID,
               new SelectList(Model.RegionList, "RegionID", "RegionName"), "Select region",
               new { @class = "from-control col-md-6 h5 text-info", id = "txtRegion" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(t => t.CountryID,
               new SelectList(Model.CountryList, "CountryID", "CountryName"), "Select country",
               new { @class = "from-control col-md-6 h5 text-info", id = "txtCountry" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(t => t.BottleSizeID,
                   new SelectList(Model.BottleSizeList, "BottleSizeID", "Size"), "Select bottle size",
                   new { @class = "from-control col-md-6 h5 text-info", id = "txtBottleSize" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(t => t.SubTypeID,
                    new SelectList(Model.SubTypesList, "SubTypeID", "SubTypeName"), "Select subtype",
                    new { @class = "from-control col-md-6 h5 text-info", id = "txtSubType" })
            </div>

        </div>
    </div>

    <div class="form-group row py-5">
        @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label h5 col-md-3 text-right" })
        @Html.TextBoxFor(model => model.ImagePath, new { id = "txtImagePath" })
        @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
    </div>
    <img src="@Url.Content(Model.ImagePath)" class="img-fluid" />

    @*<div class="form-group row py-5">
        @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label h5 col-md-3 text-right" })
        @Html.TextBoxFor(model => model.File, new { type = "file", @class = "control-label h5 col-md-3", id = "txtFile" })
        @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
    </div>*@
</form>
<div id="msgAlert"></div>
    <a class="btn btn-info" onclick="saveWine()">SAVE</a>



    <div>
        <a href="@Url.Action("details","AdminWine")?id=@Model.WineID">BACK</a>
    </div>

    <script>
    function saveWine() {
        var name = $("#txtName").val();
        var vintage = $("#txtVintage").val();
        var id = $("#idhidden").val();
        var description = $("#txtDescription").val();
        var price = $("#txtPrice").val();
        var type = $("#txtType").val();
        var region = $("#txtRegion").val();
        var country = $("#txtCountry").val();
        var bottlesize = $("#txtBottleSize").val();
        var subtype = $("#txtSubType").val();
        var file = $("#txtFile").val();
        var imagepath = $("#txtImagePath").val();
        var data = {
            WineID: id, Name: name, Vintage: vintage,
            Description: description, TypeID: type, RegionID: region, CountryID: country,
            BottleSizeID: bottlesize, SubTypeID: subtype, Price: price, File: file,ImagePath:imagepath
        };
        $.ajax({
            url: '@Url.Action("UpdateWine","AdminWine")',
             type: "POST",
             data: data,

            success: function (response) { 
              
                alert("Succesfully edited");
               

             }

        });
    }
    </script>
