@model IEnumerable<Winery.Models.CountryViewModel>

@{
    ViewBag.Title = "Country";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}



<div class="col-md-4 border-right">
    <div class="form-group">
        <label class="display-4 text-left" for="inputsm">Add new country</label>
        <input class="form-control input-form-control-lg" id="country" type="text" placeholder="Enter country name">
        <button class="btn btn-md  mt-2 text-center" onclick="addCountry()">Add</button>
    </div>
</div>
<table class="table" id="countryTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="id_@item.CountryID">
            <td>
                @Html.DisplayFor(modelItem => item.CountryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteCountry", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
<script>
    function addCountry() {
        var country = $("#country").val();

        var data = { CountryName: country};
          $.ajax({
            url: '@Url.Action("AddCountry","AdminRegionCountry")',
                type: "Post",
                data:data,

              success: function (response) {

                alert("Country added");

                }
        });
    }

     function deleteCountry(id) {
        $.ajax({
            url: '@Url.Action("DeleteCountry","AdminRegionCountry")' + '/' + id,
            data: { id: id },
            success: function (response) {
                $("#DIV_" + id).html(" ");
                alert("Country deleted");
            }
        });
    }
</script>

